<div class="row product-container">
  <div class="col-md-3 hidden-sm">
    <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1" aria-expanded="true">Hair Type</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                  <li>Malaysian virgin hair</li>
                  <li>Brazilian virgin hair </li>
                  <li>Peruvian virgin hair </li>
                  <li>Indian virgin hair </li>
            </ul>
          </div>
          <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse2">Hair Texture</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                      <li>Body wave </li>
                      <li>Loose wave </li>
                      <li>Deep wave </li>
                      <li>Silk straight </li>
                      <li>Kinky curly </li>
                    </ul>
                  </div>
        </div>
      </div>
<!--
   <nav class="navbar navbar-default sidebar" role="navigation">
       <div class="container-fluid">
       <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li class="dropdown open">
             <a href="#" class="dropdown-toggle" id="hairType" data-toggle="dropdown">Hair Type<span class="caret"></span></a>
             <ul class="dropdown-menu forAnimate" role="menu" aria-labelledby="hairType">
               <li>Malaysian virgin hair</li>
               <li>Brazilian virgin hair </li>
               <li>Peruvian virgin hair </li>
               <li>Indian virgin hair </li>
             </ul>
           </li>
           <li class="dropdown open">
             <a href="#" class="dropdown-toggle" id="hairTexture" data-toggle="dropdown">Hair Texture<span class="caret"></span></a>
             <ul class="dropdown-menu forAnimate" role="menu" aria-labelledby="hairTexture">
               <li>Body wave </li>
                              <li>Loose wave </li>
                              <li>Deep wave </li>
                              <li>Silk straight </li>
                              <li>Kinky curly </li>
             </ul>
           </li>

         </ul>
       </div>
     </div>
   </nav>
   -->
</div>


<div class="col-md-9">
{{outlet}}
</div>
</div>