<div class="row product-container">
  <div class="col-md-3 hidden-sm">
    <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1" aria-expanded=true>Hair Type</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
            <ul class="list-group">
                  <li>Malaysian virgin hair</li>
                  <li>Brazilian virgin hair </li>
                  <li>Peruvian virgin hair </li>
                  <li>Indian virgin hair </li>
            </ul>
          </div>
          <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse2">Hair Texture</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                      <li>Body wave </li>
                      <li>Loose wave </li>
                      <li>Deep wave </li>
                      <li>Silk straight </li>
                      <li>Kinky curly </li>
                    </ul>
                  </div>
        </div>
      </div>
<!--
   <nav class="navbar navbar-default sidebar" role="navigation">
       <div class="container-fluid">
       <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li class="dropdown open">
             <a href="#" class="dropdown-toggle" id="hairType" data-toggle="dropdown">Hair Type<span class="caret"></span></a>
             <ul class="dropdown-menu forAnimate" role="menu" aria-labelledby="hairType">
               <li>Malaysian virgin hair</li>
               <li>Brazilian virgin hair </li>
               <li>Peruvian virgin hair </li>
               <li>Indian virgin hair </li>
             </ul>
           </li>
           <li class="dropdown open">
             <a href="#" class="dropdown-toggle" id="hairTexture" data-toggle="dropdown">Hair Texture<span class="caret"></span></a>
             <ul class="dropdown-menu forAnimate" role="menu" aria-labelledby="hairTexture">
               <li>Body wave </li>
                              <li>Loose wave </li>
                              <li>Deep wave </li>
                              <li>Silk straight </li>
                              <li>Kinky curly </li>
             </ul>
           </li>

         </ul>
       </div>
     </div>
   </nav>
   -->
  </div>


  <div class="col-md-9 col">
  <div class="row-md-1">
      <p>sortBy</p>
       <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle sortby-button" type="button" data-toggle="dropdown">&nbsp; name
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">name</a></li>
          <li><a href="#">price</a></li>
          <li><a href="#">latest</a></li>
        </ul>
      </div>
      <select id="ddlList">
          <option value="3">Three</option>
          <option value="1">One</option>
          <option value="1">one</option>
          <option value="1">a</option>
          <option value="1">b</option>
          <option value="1">A</option>
          <option value="1">B</option>
          <option value="0">Zero</option>
          <option value="2">Two</option>
          <option value="8">Eight</option>
      </select>
    </div>
    <div class="row-md-11">
    {{outlet}}
    </div>
    <nav aria-label="Page navigation example" class="paging-link">
          <ul class="pagination justify-content-center">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">next</a></li>
          </ul>
      </nav>
  </div>
</div>