<div class="sp-slideshow">

				<input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
				<label for="button-1" class="button-label-1"></label>

				<input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
				<label for="button-2" class="button-label-2"></label>

				<label for="button-1" class="sp-arrow sp-a1"></label>
				<label for="button-2" class="sp-arrow sp-a2"></label>

				<div class="sp-content">
					<div class="sp-parallax-bg"></div>
					<ul class="sp-slider clearfix">
						<li><img src="assets/images/slide1.png" alt="image01" /></li>
						<li><img src="assets/images/slide2.png" alt="image02" /></li>
					</ul>
				</div><!-- sp-content -->
</div><!-- sp-slideshow -->

<div class="container">
  <div class="row">
    <div class="col-md">
      1 of 2
    </div>
    <div class="col-md">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      1 of 3
    </div>
    <div class="col">
      2
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>