{{#product-filter
   filter=(action 'filterByCity')
   as |products|}}
  <ul class="results">
    {{#each model as |product|}}
      <li>{{products-list product=product}}</li>
    {{/each}}
  </ul>
{{/product-filter}}
{{outlet}}